# Test output files.
test-files/save-photos-test-updated-photos/
test-files/save-photos-test-updated.xml
test-files/export-gedcom-test.ged

# Python files.
*.pyc
__pycache__

# User settings files.
genealogymaker.pro.user
unittest.pro.user
